.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  font-size:12px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  color: #5F6467;
}

.title a {
  color: #e42a2a;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 25px;
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 30px 0;
  font-size: 1rem;
}

.bodyText p {
  margin: 0 25px ;
  font-size:10px;
  text-align: justify;

}



.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 14px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.form {
  align-self: center;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  flex-wrap: wrap;
  text-decoration: none;
  border: 0.7px solid #3C3F41;
  border-radius: 14px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.form:hover,
.form:focus,
.form:active {
  border-color: #e42a2a;
}

.form h2 {
  margin: 15px 15px 15px;
  font-size: 1.5rem;
}

.form label {
  margin: 0;
  padding: 15px 0 15px;
  font-size: 14px;
  line-height: 1.5;
}

.form input {
  border-radius: 10px;
  height: 40px;
  padding: 10px 10px 10px;
  line-height: 20px;
  font-size: 20px;
  margin: 10px 10px 10px;
  display: block;
  border: none;
  font-family: Comfortaa, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

.form input::placeholder{
  font-size: 12px;
  font-family: Comfortaa, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

.form button {

  margin-top: 15px;
  background-color: #e42a2a;
  border-radius: 15px;
  padding: 15px 15px 15px;
  font-family: Comfortaa, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.form button:hover {
  color: #000000;
  background-color: #ffffff
}

.card:hover,
.card:focus,
.card:active {
  color: #e42a2a;
  border-color: #e42a2a;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(0);
  }
}
